.about_body
{
    background-color: rgb(184, 159, 129);
    width: 100%;
    height: 470px;
    padding: 0px 15px 0px 15px;

}


/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    float: left;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    height: 350px;
    width: 100%;
    border-radius: 40px;
  }
  
  /* Buttons */
  p{
    float: right;
  }
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
  